<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=H, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">

</head>

<body>
    <header>
        <!-- Background image -->
        <div class="text-center bg-image" style="
            background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.jpg');
            height: 400px;
          ">
            <div class="mask" style="
                background-color:rgba(0, 0, 0, 0.6);
                height:400px;
            ">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h1 class="m-4">Welcome</h1>
                        <a class="btn btn-outline-light btn-lg" href="/" role="button">HOME</a>

                    </div>
                </div>
            </div>
        </div>
        <!-- Background image -->
    </header>
    <div class="container">
        <h1 class="display-1 m-4"> BLOGS </h1>
        <a href="/blog/new" class="text-decoration-none">
            <h5 class="display-6 ml-4">+ Add New Blog</h5>
        </a>
        <% blogs.forEach(element=> {%>
            <div class="card m-4">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href='/blog/<%= element.id %>' class="display-6 text-decoration-none">
                            <%= element.title %>
                        </a>
                    </h4>
                    <p class="card-subtitle text-muted m-2">
                        <%= element.createdAt.toLocaleDateString() %>
                    </p>
                    <h5 class="card-text font-italic m-2">
                        <%= element.description %>
                    </h5>
                </div>
            </div>
            <% }); %>
    </div>

    <!-- Footer -->
    <footer class="mt-5 page-footer font-small" style="background-color: teal;">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            Vatsal Agarwal
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>

</html>