<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=H, initial-scale=1.0">
    <title>Add a blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <!-- Background image -->
        <div class="text-center bg-image" style="
            background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.jpg');
            height: 400px;
          ">
            <div class="mask" style="
                background-color:rgba(0, 0, 0, 0.6);
                height:400px;
            ">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h1 class="m-4">Add a BLOG</h1>
                        <a class="btn btn-outline-light btn-lg" href="/" role="button">HOME</a>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Background image -->
    </header>
    <div class="container">
        <h1 class="m-4"> NEW BLOG </h1>
        <form action="/blog" method='POST'>
            <div class="form-group m-4">
                <label for="title">Title</label>
                <input required type="text" class='form-control' name='title' id="title">

                <label for="description">Description</label>
                <input required type="text" class='form-control' name='description' id="description">

                <label for="content">Content</label>
                <textarea required type="text" class='form-control' name='content' id="content"></textarea>
                
                <a href="/" class="btn btn-danger">Delete</a>
                <button type="submit" class="btn btn-primary my-3">Save</button>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <footer class="mt-5 page-footer font-small" style="background-color: teal;">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            Vatsal Agarwal
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>
</html>